{
  "plugins": ["transform-class-properties"],
  "presets": [
    "react-native",
    [
      "env",
      {
        "modules": "commonjs"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "react-native",
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}
